@import "../../theme/susy.scss";
@import "../../theme/variables.scss";

.content {
  @include span(12);
  padding: 5px 10px;
  position: relative;

  .more {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 5px 10px;
    font-size: 1.3em;
  }

  &.lightblue {
    background-color: $color-type-lightblue;
    color: $color-font-light;

    .more {
      background-color: $color-type-lightblue;
    }

    .header {
      h3 {
        background-color: $color-type-lightblue;
      }
    }
  }

  &.red {
    background-color: $color-type-red;
    color: $color-font-light;

    .more {
      background-color: $color-type-red;
    }

    .header {
      h3 {
        background-color: $color-type-red;
      }
    }
  }

  &.white {
    background-color: $color-type-white;
    color: $color-font-light;

    .more {
      background-color: $color-type-white;
    }

    .header {
      h3 {
        background-color: $color-type-white;
      }
    }
  }

  &.orange {
    background-color: $color-type-orange;
    color: $color-font-light;

    .more {
      background-color: $color-type-orange;
    }

    .header {
      h3 {
        background-color: $color-type-orange;
      }
    }
  }

  .header {
    height: 40px;
    position: relative;
    margin-top: 5px;
    background-color: $color-back-light;

    &.mobileTitle {
      display: none;
    }

    @include susy-media(0 $bp-med) {
      height: 15px;
    }

    h3 {
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 1.9em;

      text-transform: uppercase;
      font-weight: 100;

      @include susy-media(0 $bp-xl-2h) {
        font-size: 1.5em;
      }

      @include susy-media(0 $bp-med-2) {
        font-size: 1.9em;
      }

      @include susy-media(0 $bp-small-3) {
        font-size: 1.5em;
      }
    }
  }

  .body {
    .picture {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    @include susy-media(0 $bp-small-2) {
      @include span(2);

      .picture {
        margin-top: 5px;
      }
    }
  }

  &.kit {
    float: none;
    width: 100%;

    @include susy-media(0 $bp-small-2) {
      @include span(12);
    }

    .more {
      display: none;
    }

    .header {
      height: 0;

      h3 {
        font-size: 1em;
        font-weight: 400;

        @include susy-media(0 $bp-small-2) {
          font-size: 1.5em;
        }
      }

    }

    .body {
      width: 100%;

      @include susy-media(0 $bp-small-2) {
        @include span(2);
      }
    }
  }

  .header {
    @include susy-media(0 $bp-small-2) {
      &.desktopTitle {
        display: none;
      }

      &.mobileTitle {
        display: initial;
      }

      @include span(10);

      height: 30px;
      padding: 0;
      margin: 0;

      h3 {
        text-align: left;
        position: initial;
        text-indent: 10px;
      }
    }
  }

  .body {

    @include susy-media(0 $bp-small-2) {
      @include span(2);

      img {
        margin-top: 5px;
      }
    }
  }

}
