@import "../../theme/susy.scss";
@import "../../theme/parallax.scss";
@import "../../theme/variables.scss";

.hero {
  @include container;
  @extend .parallax;

  height: 100vh;
  background-image: url('./top.jpg');
  position: relative;

  .overlay {
    position: absolute;
    background:url($overlay) repeat;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;

    .logo {
      width: 510px;
      height: 155px;
      display: block;
      margin: 40px auto;
    }

    p {
      font-size: 4em;
      text-align: center;
      font-weight: 400;
    }
  }

  .continue {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;

    a {
      width: 60px;
      background: $color-back-light;
      color: $color-action;
      padding: 15px 13px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 2.5em;

      &:hover {
        background: $color-back-action;
        color: $color-font-light;
      }
    }
  }

}
