$color-action: #2B6784;
$color-secondary: #3FBF3F;

$color-dark: #4E4E4E;
$color-light: #FFFFFF;

$color-warning: #eea236;
$color-danger: #ff4f4f;
$color-font-error: $color-danger;

$color-back-light: $color-light;
$color-back-action: $color-action;
$color-back-dark: darken($color-back-action, 20%);

$color-back-intro: $color-back-action;
$color-back-input: darken($color-back-action, 12%);
$color-separator: $color-back-action;

$color-font-dark: $color-dark;
$color-font-light: $color-light;

$color-type-lightblue: #499DC5;
$color-type-red: #dd4848;
$color-type-white: #A5A5A5;
$color-type-orange: #EC9244;

$font-family: 'Roboto', sans-serif;
$overlay: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQIW2NkYGAwZkCAs4xECSDpYGAAAHEaAwUNvi3TAAAAAElFTkSuQmCC';

// Screens
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;
$bp-xl-2h : 70em;
$bp-xl-3 : 74em;
$max-container: 80em;
$product-container: $bp-xl;
