@import "../../theme/susy.scss";
@import "../../theme/variables.scss";

.contact {
  @include span(12);
  float: none;
  padding-top: 30px;
  padding-bottom: 60px;

  min-height: 200px;

  background-color: darken($color-light, 10%);
  color: $color-font-dark;

  @include susy-media(0 $bp-small-3) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .wrap {
    @include container($max-container);
  }

  h3 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 20px;

    @include susy-media(0 $bp-small-3) {
      margin-bottom: 0px;
      margin-top: 0px;
      text-align: center;
    }
  }

  .side {
    @include span(6);
  }

  .info {
    margin-top: 20px;
  }

  .iconHolder {
    @include span(4);
    font-size: 10em;
    padding-top: 10px;
    text-indent: -5%;

    @include susy-media(0 $bp-small-3) {
      display: none;
    }
  }

  p {
    @include span(8);
    font-size: 1.5em;

    @include susy-media(0 $bp-small-3) {
      @include span(12);
      margin: 5px;
      font-size: 1.2em;
    }
  }

  @include susy-media(0 $bp-xl) {
    .side {
      @include span(12);
    }

    .info {
      margin-top: 0;
    }

    .iconHolder {
      //@include span(6);
      text-align: center;
    }

    p {
      //@include span(6);
    }
  }

}
