@import "../../theme/susy.scss";
@import "../../theme/variables.scss";

.intro {
  @include span(12);
  float: none;
  padding-top: 40px;
  padding-bottom: 80px;

  background-color: $color-back-intro;

  .wrap {
    @include container($max-container);
  }

  .item {
    @include span(12);

    h3 {
      font-size: 2em;
    }

    .pics {
      @include span(10);
      margin-left: span(0.5);
      position: relative;
      height: span(2);
    }

    .img {
      height: 200px;
      vertical-align: middle;
      background-color: darken($color-back-intro, 20%);
      background-position: 50% 50%;
      background-size: 100%;
      background-repeat: no-repeat;

      border: 2px solid $color-back-light;
      border-radius: 4px;
    }

    .body {
      @include span(10);
      margin-left: span(0.5);
      font-size: 1.5em;
    }

    &:nth-child(1) {
      .pics {

        .img {
          @include span(5);

          &:nth-child(1){
            background-image: url("./landing_simple_0.jpg");
            position: relative;

            border-radius: 4px 0 0 4px;
            border-right: none;

            .arrow {
              position: absolute;
              top: 15%;
              right: -15%;
              font-size: 2em;

              i {
                color: $color-font-light;
                font-size: 3em;
              }
            }
          }

          &:nth-child(2){
            background-image: url("./landing_simple_1.jpg");
            border-radius: 0 4px 4px 0;
          }
        }

      }
    }

    &:nth-child(2) {
      .pics {

        .img {
          @include span(4);

          &:nth-child(1){
            background-image: url("./landing_order_0.jpg");
            border-radius: 4px 0 0 4px;
            border-right: none;
          }

          &:nth-child(2){
            background-image: url("./landing_order_1.jpg");
            border-radius: 0;
          }

          &:nth-child(3){
            background-image: url("./landing_order_2.jpg");
            border-radius: 0 4px 4px 0;
            border-left: none;
          }
        }

      }
    }

    &:nth-child(3) {
      .pics {
        @include span(4);

        .img {
          @include span(12);
          height: 250px;
          background-image: url("./landing_attach.jpg");
        }
      }

      .body {
        @include span(6);
      }
    }


  }
}
