@import "../../theme/susy.scss";
@import "../../theme/variables.scss";

.content {
  .title {
    margin: 0;
    font-size: 2em;

    .buy {
      background-color: $color-secondary;
      color: $color-font-light;
      padding: 6px 12px;
      font-size: 0.6em;
      font-weight: 400;
      margin: 15px;
      vertical-align: middle;
      text-decoration: none;
      cursor: pointer;
    }

    @include susy-media(0 $bp-small-2) {
      font-size: 1.5em;
      margin-top: 10px;
      padding-left: 10px;

      .buy {
        font-size: 0.8em;
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        padding: 3px 10px;
      }
    }
  }

  .products {
    @include span(12);

    margin-top: 10px;
    margin-bottom: 10px;
  }

  .product {
    @include span(2);
    margin-right: span(0.5);
    position: relative;

    @include susy-media(0 $bp-large-2) {
      @include span(3);
    }

    @include susy-media(0 $bp-small-3) {
      @include span(4);
    }

    @include susy-media(0 $bp-small-2) {
      @include span(12);
      margin: 1px 0;
    }

    .qty {
      position: absolute;
      bottom: -10px;
      right: -5px;
      font-size: 2em;
      border-radius: 50%;
      padding: 2px 7px;
      font-weight: 600;

      background-color: $color-back-light;
      color: $color-font-dark;
      border: 4px solid $color-font-dark;
      box-shadow: none;

      @include susy-media(0 $bp-small-2) {
        bottom: 4px;
        right: 7px;
        font-size: 1.5em;
        padding: 3px 7px;
      }
    }

    .plus {
      position: absolute;
      right: -30%;
      top: 25%;
      font-size: 3em;
      color: $color-font-dark;
      font-weight: 800;

      @include susy-media(0 $bp-large-2) {
        right: -21%;
        top: 30%;
        font-size: 2.5em;
      }

      @include susy-media(0 $bp-small-2) {
        display: none;
      }
    }

    &:last-child {
      .plus {
        display: none;
      }
    }
  }

}
